<div class="h-screen flex flex-col justify-center items-center">
  <h1 class="text-4xl text-emerald-700 text-center">¿Cuál es tu situación?</h1>

  <div class="w-full">
    <a class="bg-red-800 w-full h-20 flex items-center justify-center my-8" [routerLink]="['/help-form/receive']">
      <span class="text-white text-3xl font-bold">
        NECESITO AYUDA
      </span>
    </a>
    
    <a class="bg-indigo-900 w-full h-20 flex items-center justify-center" [routerLink]="['/help-form/give']">
      <span class="text-white text-3xl font-bold">
        QUIERO AYUDAR
      </span>
    </a>
  </div>
</div>
